 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Oswald', sans-serif;
 }

 /* NAVBAR */
 header {
   z-index: 999;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #23252b9d;
   background-size: cover;
   background-size: 100%;
   box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
   padding: 0 100px;
   transition: 0.6s;
 }

 header .logo {
   display: flex;
   align-items: center;
   gap: 8px;
   color: #fff;
   font-size: 4vh;
   outline: none;
   margin-left: -75px;
   text-decoration: none;
   font-weight: 800;
 }

 header .logo img {
   width: 25px;
   height: auto;
   margin-block-start: 8px;
 }

 header .navigation {
   position: relative;
   line-height: 75px;
   transition: 0.6s;
   transition-property: line-height;
 }

 header .navigation .menu {
   position: relative;
   display: flex;
   justify-content: center;
   list-style: none;
   user-select: none;
 }

 .menu-item a {
   color: #E6C3A1;
   text-decoration: none;
   margin: 20px;
   padding: 0;
   transition: 0.3s;
 }

 .menu-item>a:hover {
   color: #962828b2;
   transition: 0.3s;
 }

 .barra {
   color: #fff;
 }

 /* LOGIN */
 .login {
   background-image: url('../assets/imgs/fundoCadastro.jpg');
   background-size: cover;
   height: 100vh;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding-left: 200px;
   padding-top: 100px;
 }

 .login .container {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .card-login {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: rgba(210, 210, 210, 0.1);
   padding: 0;
   border-radius: 50px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
   width: 500px;
   color: white;
 }

 .card a img {
   display: flex;
   position: absolute;
   left: 250px;
   height: 80px;
   padding-top: 30px;
 }

 .formulario {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
   border-radius: 10px;
   margin-top: 20px;
 }

 .campo {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
 }

 .campo input {
   padding: 10px;
   width: 350px;
   border: none;
   border-bottom: 2px solid #E6C3A1;
   outline: none;
   background-color: transparent;
   color: #d2d2d2;
   transition: 0.3s;
 }

 .campo input:focus {
   border-bottom-color: #962828b2;
   transition: 0.3s;
 }

 .botao {
   padding: 8px 60px;
   background-color: #E6C3A1;
   color: white;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: 0.3s;
 }

 .botao:hover {
   background-color: #962828b2;
   transition: 0.3s;
 }

 .alerta_erro {
   position: fixed;
   top: 100px;
   /* Afastado da navbar */
   right: 20px;
   z-index: 1000;
 }

 .card_erro {
   display: none;
   background-color: #000;
   color: #E6C3A1;
   width: 230px;
   border-radius: 4px;
   border: #962828b2 3px solid;
   padding: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
 }

 .card_erro #mensagem_erro {
   font-weight: 500;
   font-size: 20px;
 }

 #div_erros_login {
   display: none
 }