 @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Oswald', sans-serif;
 }

 /* NAVBAR */
 header {
   z-index: 999;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: #23252b9d;
   background-size: cover;
   background-size: 100%;
   box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
   padding: 0 100px;
   transition: 0.6s;
 }

 header .logo {
   display: flex;
   align-items: center;
   gap: 8px;
   color: #fff;
   font-size: 4vh;
   outline: none;
   margin-left: -75px;
   text-decoration: none;
   font-weight: 800;
 }

 header .logo img {
   width: 25px;
   height: auto;
   margin-block-start: 8px;
 }

 header .navigation {
   position: relative;
   line-height: 75px;
   transition: 0.6s;
   transition-property: line-height;
 }

 header .navigation .menu {
   position: relative;
   display: flex;
   justify-content: center;
   list-style: none;
   user-select: none;
 }

 .menu-item a {
   color: #E6C3A1;
   text-decoration: none;
   margin: 20px;
   padding: 0;
   transition: 0.3s;
 }

 .menu-item>a:hover {
   color: #962828b2;
   transition: 0.3s;
 }

 .barra {
   color: #fff;
 }



 /* LOGIN */

.fundopreto{
  background-color: rgba(25, 25, 25, 0.124);
  width: 100%;
  position: fixed;
  z-index: 0;
  
}

 .fundoLogin {
  width: 100%;
  position: fixed;
  z-index: -1;
 }

 .login {
   height: 100vh;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   padding-right: 200px;
   padding-top: 100px;
 }

 .login .container {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .card-login {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: rgba(210, 210, 210, 0.9);
   padding: 40px;
   border-radius: 50px;
   box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
 }
 

 .formulario {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 30px;
   border-radius: 10px;
   margin-top: 20px;
 }

 .campo {
   display: flex;
   flex-direction: column;
   margin-bottom: 15px;
 }

 .campo input {
   padding: 10px;
   width: 250px;
   border: 1px solid #ccc;
   border-radius: 50px;
 }

 .cadastrar {
   margin-bottom: 20px;
   font-size: 14px;
 }

 .cadastrar a {
   color: #962828;
   text-decoration: none;
 }

 .botao {
   padding: 10px 20px;
   background-color: #962828;
   color: white;
   border: none;
   border-radius: 5zpx;
   cursor: pointer;
 }

 .botao:hover {
   background-color: #751f1f;
 }