@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

* {
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-color: #E6C3A1;
  color: #000;
}

.janela {
  display: flex;
  height: 100vh;
}

.header-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100vh;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-right: 2px solid #3a3a3a;
  background-color: #1c1c1f;
}

.header-left a {
  text-decoration: none;
  color: inherit;
}

.header-left h1 {
  color: #ffffff;
  font-size: 24px;
}

.hello h3 {
  color: #cccccc;
  font-size: 1.1rem;
}

.hello h3 span {
  color: #ffffff;
  font-weight: 700;
}

img {
  width: 25px;
  height: auto;
  margin-block-start: 8px;
}

.btn-nav {
  width: 70%;
  background-color: #962828b2;
  border-radius: 50px;
  text-align: center;
  padding: 10px 0;
  color: white;
  transition: 0.3s;
}

.btn-nav:hover {
  background-color: #E6C3A1;
  color: black;
  transition: 0.3s;
}

.btn-nav-white {
  width: 70%;
  background-color: #E6C3A1;
  color: #000;
  border-radius: 50px;
  text-align: center;
  padding: 10px 0;
  font-weight: bold;
  transition: background-color 0.2s;
}

.btn-nav-white:hover {
  background-color: #962828b2;
  color: #d2d2d2;
}

.btn-logout {
  width: 50%;
  background-color: #E6C3A1;
  color: black;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 40px;
  transition: 0.3s;
}

.btn-logout:hover {
  transition: 0.3s;
  background-color: #962828b2;
  color: white;
}

/* FIM HEADER */


button {
    font-family: monospace;
    font-weight: bold;
}

.flex-colunar {
    display: flex;
    flex-direction: column;
}

.width-fit-content {
    width: fit-content;
}

.border-primary {
    border: 3px solid #000;
    border-radius: 30px;
}

.border-secondary {
    border: 3px solid #E6C3A1;
    border-radius: 30px;
}

.padding-8 {
    padding: 8px;
}

.text-bold {
    font-weight: bold;
}

.text-success-with-bg {
    color: var(--success-dark);
    background-color: var(--success-light);
}

.text-warning-with-bg {
    color: var(--warning-dark);
    background-color: var(--warning-light);
}

.text-danger-with-bg {
    color: var(--danger-dark);
    background-color: var(--danger-light);
}

.text-new-gray {
    color: var(--new-gray);
}

#pontuacaoEJogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-left: 300px;
    flex-direction: column;
}